p {
  font-size: 16px;
}

ul {
  font-size: 15px;
}

#example-images {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  max-width: 900px;
}

.jumbotron {
  background: url("../image/Capture.PNG");
  margin-top: 50px;
  margin-bottom: 20px;
  min-height: 250px;
  max-height: 280px;
  /* -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px); */
}

td {
  vertical-align: middle;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


#footer p {
  /*font-size: 10px;*/
}
